.App.dark-mode, body {
  background: #151018;
}


.Navbar {
  background: #231b27;
  display: flex;
  height: 50px;
  left: 0;
  padding: 0 15px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  z-index: 900;
}
*, ::after, ::before {
  box-sizing: border-box;
  font-family: Poppins,sans-serif;
}
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}
.Navbar .center {
  align-items: center;
  display: flex;
  flex: 1 1;
  justify-content: flex-start;
  max-width: 765px;
}
.Navbar .nav-menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 1 1;
  margin-right: 10%;
}
.Navbar .nav-menu .menu-item {
  color: #fff;
  margin-left: 8%;
  white-space: nowrap;
}
a {
  background-color: initial;
}
.Navbar .side.right {
  padding-right: 3rem;
  margin-left: auto;
}
.Navbar .side.right > * {
  margin-left: 5px;
  font-weight: 700;
}

@media (min-width: 576px) {
  .Navbar .icon {
    height: 42px;
    margin-left: 20px;
    width: 42px;
  }
  .hero-image-mobile {
    width: 824px;
    height: 603px;
  }
.Navbar .icon-search {
  cursor: pointer;
  position: relative;
  z-index: 4;
  color: #fff;
  height: 20px;
  width: 20px;
}
.Navbar .icon {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 30px;
  justify-content: center;
  margin-left: 5px;
  width: 30px;
}
.Navbar .side.right > * {
  margin-left: 5px;
}
.Navbar .menu-button {
  margin-left: 15px;
}
.mio-button.medium span {
  font-size: 14px;
}
.mio-button .label {
  color: #f2f0f4;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5em;
  padding: 0;
}
.mio-button:not(.disabled) {
  cursor: pointer;
}
button, select {
  text-transform: none;
}
button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

@media (min-width: 768px) {
  .Navbar {
    padding: 15px 60px;
  }
}
@media (min-width: 992px) {
  .Navbar .is-hidden-mobile {
    display: inline;
    display: initial;
  }
  .logo {
    position: sticky;
    top: 7px;
    left: 0;
    padding: 15px;
    display: flex;
    height: 60px;
    width: 100%;
    z-index: 900;
    user-select: none;
  }
  .navbar .logo {
    fill: white;
    display: none;
    height: 1px;
    margin-top: 5px;
  }
  .Navbar .item-gift-link .gift-label {
    -webkit-text-fill-color: #0000;
    background: linear-gradient(133.23deg,#ff78fa 17.96%,#fff06c 46.18%,#6cfff6 71.09%,#5fff78 97.66%);
      background-clip: border-box;
    -webkit-background-clip: text;
    background-clip: text;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.6em;
    margin-left: 8px;
    text-transform: uppercase;
    vertical-align: top;
  }
  .mio-button.gold.medium {
    padding: 10px 15px;
    background: linear-gradient(0deg, #ea6419, #ebb019 50%);
    border-radius: 10px;
    border: none;
  }
  .mio-button.secondary {
    backdrop-filter: blur(16px);
    background: #382f3da6;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
  }
  div>a:hover{
    border: 1px solid white;
    border-radius: 10px;
  }
.Navbar .is-hidden-mobile {
  display: none;
}
.Navbar .item-gift-link {
    padding: 9px 8px;
  }
  *, ::after, ::before {
    box-sizing: border-box;
    font-family: Poppins,sans-serif;
  }
.Navbar .side {
  align-items: center;
  display: flex;
}
.Navbar .side {
  flex-shrink: 0;
  position: relative;
  z-index: 910;
}
.titleHeader {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    .subtitleText {
      color: 0;
    }
  }
  .publisher-header {
    .box-buttons {
      justify-content: space-between;
      display: flex;
      .mio-button {
        svg {
          fill: white;
          filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.7));
        }
      }
      .box-buttons-right {
        display: flex;
        flex-direction: row;
        .mio-button {
          margin-left: 15px;
        }
      }
      .box-buttons-left {
        display: flex;
        flex-direction: row;
      }
    .header-main {
      padding: 15px;
      flex-direction: column;
      display: flex;
      background-size: cover;
      background-position: 50% 50%;
      border-radius: 8px 8px 0px 0px;
  
      .title-main {
        padding-bottom: 20px;
        .mio-text {
          display: inline-block;
          align-self: flex-end;
          margin-right: 20px;
          text-shadow: 1px 3px 10px black;
        }
      }
    }
    .bottom-header {
      width: 100%;
      border-radius: 0px 0px 8px 8px;
      padding: 30px;
      margin-bottom: 32px;
      background-color: rgba(44, 39, 47, 1);
      .columns {
        display: flex;
        flex-direction: column;
      }
      .leftColumn {
        .title-main {
          margin-top: 5px;
          margin-bottom: 10px;
        }
        .subtitle {
          color: rgba(255, 255, 255, 0.8);
        }
      }
      .actions {
        display: flex;
        & > * {
          white-space: nowrap;
        }
      }
    }
.collection-header {
  .box-buttons {
    justify-content: space-between;
    display: flex;
    .mio-button {
      svg {
        fill: white;
        filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.7));
      }
    }
    .box-buttons-right {
      display: flex;
      flex-direction: row;
      .mio-button {
        margin-left: 15px;
      }
    }
    .box-buttons-left {
      display: flex;
      flex-direction: row;
    }
  }
  .header-main {
    padding: 15px;
    flex-direction: column;
    display: flex;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 8px 8px 0px 0px;
    .title-main {
      padding-bottom: 20px;
      .mio-text {
        display: inline-block;
        align-self: flex-end;
        margin-right: 20px;
        text-shadow: 1px 3px 10px black;
      }
      .mio-text {
        color: whitesmoke;
      }
    }
    
/*Main/hero*/
#LandingHero .hero, #LandingHero .hero-container {
  align-items: self-start;
  display: flex;
  position: relative;
}
#LandingHero .hero-container {
  flex-grow: 1;
  justify-content: center;
  overflow: hidden;
}
#LandingHero .hero-container:after {
  background-image: linear-gradient(180deg, #fff0, #151018);
  bottom: 0;
  content: "";
  height: 10%;
  position: absolute;
  right: 0;
  width: 100%;
}
*, :after, :before {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}
#LandingHero .hero-title {
  color: #fff;
  font-size: 2.625rem;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: 15px;
}
[data-aos^=fade][data-aos^=fade].aos-animate {
  opacity: 1;
  transform: translateZ(0);
}
[data-aos][data-aos][data-aos-easing=ease], body[data-aos-easing=ease] [data-aos] {
  transition-timing-function: ease;
}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
  transition-duration: .4s;
}
[data-aos^=fade][data-aos^=fade] {
  opacity: 0;
  transition-property: opacity, transform;
}
[data-aos=fade-down] {
  transform: translate3d(0, -100px, 0);
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
#LandingHero .hero-content, #LandingHero .hero-content-partner {
  margin-bottom: 50px;
  margin-top: 97px;
  position: relative;
  text-align: left;
  width: 50%;
}
#LandingHero .hero {
  flex-direction: row;
  margin: 0 auto;
  max-width: 730px;
  max-width: 1200px;
  padding: 0 25px;
  text-align: center;
  width: 100%;
}
#LandingHero .hero-subtitle {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5em;
  margin-bottom: 30px;
}
[data-aos][data-aos][data-aos-delay="300"].aos-animate, body[data-aos-delay="300"] [data-aos].aos-animate {
  transition-delay: .3s;
}
[data-aos][data-aos][data-aos-delay="300"], body[data-aos-delay="300"] [data-aos] {
  transition-delay: 0;
}
#LandingHero .headerPC, .headerButtons {
  align-items: center;
  display: flex;
}
.headerButtons {
  flex-direction: row;
}
a {
  text-decoration: none;
}
#LandingHero .hero-image {
  margin-left: -7%;
  margin-right: -16%;
  max-width: 72%;
}
#LandingHero .hero-image img {
  height: auto;
  max-width: 100%;
}
img {
  border-style: none;
}
.hero-figure {
  display: flex;
  flex-direction: row;
}
.section-title {
  span {color: grey;} 
}
.partner-box{
  display: flex;
}
.content {
  align-items: center;
}
ul.partners-list{
  align-items: center;
  box-sizing: border-box;
  position: relative;
  left: 25vh;
  display: flex;
  flex-wrap: wrap;
  height: 521px;
  width: 1028px;
  justify-content: space-between;
  line-height: 18px;
  padding: 0px;
}
.mio-text.bold.medium.display{
  color: white;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}
.mio-text.bold.medium.displaymio-text.bold.medium.display{
color: grey;
text-align: center;
font-size: 18px;
}
.elements{
  box-sizing: border-box;
  display:flex;
  overflow-x: scroll;
  scrollbar-width: none;
}
.image-container{
  display: flex;
  position: relative;
  box-sizing: border-box;
  background-attachment: scroll;
  background-clip: border-box;
  background-image: transparent ;
}
.controls.left.hidden{
  display: flex;
  left: 10px;
  width: 40px;
  position: absolute;
  align-items: left;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow:rgba(0, 0, 0, 0.1) 2px 2px 5px 0px;
  box-sizing: border-box;
  cursor: pointer;
}
.controls.right{
  display: flex;
  right: 10px;
  width: 40px;
  position: absolute;
}
.mio-button{
  align-items: center;
  appearance: button;
  justify-content: center;
  overflow-x: visible;
  overflow-y: visible;
}
.label{
  box-sizing: border-box;
}
#Footer .footer-menu {
  margin: 68px auto;
  max-width: 1500px;
  width: 100%;
}
#Footer .footer-menu .title, #Footer .footer-menu > ul > li > ul > li {
	line-height: 1.5em;
	margin-bottom: 10px;
}
.dark-mode #Footer .footer-menu a, .dark-mode #Footer p {
	color: #fff;
}
#Footer {
  text-align: center;
}
#Footer .footer-menu > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 1.5em;
  text-align: left;
}
#Footer ul {
  border: 0;
  font-size: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: initial;
}
}
@media (min-width: 768px) {
  #Footer .download-content {
    margin-top: 30px;
  }
  .footer-menu > ul > li > p {
color: rgb(155, 145, 145);
font-size: x-large;
  }
  .titre-footer {
    color: rgb(255, 255, 255);
    font-size: x-large;
  }
  .--text {
    color: whitesmoke;
    font-size: x-large;
  }
  .social-links {
display: flex;
justify-content: center;
  }
  .link-item {
    padding: 1rem;
  }
  .storeButton {
    background-color: #49444d;
    border-radius: 0.4rem;
    border: 1px;
    border-color: rgb(155, 149, 149);
    border-style: solid;
  }
  .storeButton :hover {
    background-color: #49444d;
    border-radius: 0.4rem;
    border: 2px solid white;
  }
  /*reset to normal gift button, does not work */
  .Navbar.item-gift-link.gift-label:hover{
    border: none;
    text-decoration:none;
    color: initial;
}
#Footer .download-content {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: 0;
}
}
}
    }
  }
}